form {
  display: flex;
  flex-direction: column;
}

.form-field {
  position: relative;
  max-width: 400px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;

  &:not(:first-child) {
    margin-top: 20px;
  }

  .form-input {
    max-width: 100%;
  }
}

.form-select, .form-input {
  display: block;
  min-width: 200px;
  height: 40px;
  border: 1px solid #2a2929;
  border-radius: 4px;
  padding: 5px 8px;
  font-size: 16px;
  line-height: 22px;
  color: #000;

  &.field-error {
    border-color: red;
  }

  &::placeholder {
    color: #000;
  }
}

.form-select {
  padding-right: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='256' height='256' viewBox='0 0 256 256' xml:space='preserve'%3E%3Cdefs%3E%3C/defs%3E%3Cg style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;' transform='translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)'%3E%3Cpath d='M 90 24.25 c 0 -0.896 -0.342 -1.792 -1.025 -2.475 c -1.366 -1.367 -3.583 -1.367 -4.949 0 L 45 60.8 L 5.975 21.775 c -1.367 -1.367 -3.583 -1.367 -4.95 0 c -1.366 1.367 -1.366 3.583 0 4.95 l 41.5 41.5 c 1.366 1.367 3.583 1.367 4.949 0 l 41.5 -41.5 C 89.658 26.042 90 25.146 90 24.25 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
  background-position: calc(100% - 8px) 50%;
  background-size: 14px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
}

.form-input {
  width: 100%;

  &[type="search"] {
    max-width: 200px;
  }
}

.form-label {
  font-size: 14px;
  line-height: 20px;
  color: #2a2929;
  font-weight: 500;

  + input {
    margin-top: 6px;
  }
}

.form-error-message {
  position: absolute;
  bottom: -4px;
  left: 0;
  display: block;
  color: red;
  font-size: 14px;
  line-height: 20px;
}

.form-col {
  display: flex;
  gap: 0 10px;

  .form-field {
    margin-top: 0;
  }

  &:not(:first-child) {
    margin-top: 15px;
  }
}